/**
 * Style for comments
 */
.answers {
  max-width: 600px;
  background-color: @lightGrey;
  padding: 10px;
}
 
.answer {
  font-size: 1em;

} 

.answer a {
  font-weight: bold;
  text-decoration: none;
  color: #5491D4;
}


.answer-id {
  display: inline-block;
  vertical-align: top;
  float:left;
  width: 70px;
} 

.answer-id a {
  vertical-align: top;

}


.answer-content {
  display: inline-block;
  float:right;
  width: 520px;
} 

.answer-divider {
    clear: both;
    height:10px;
} 
 
.answer-header {
  line-height: 1em;
  margin-top: 2px;
  padding-top: 0px;
  font-weight: bold;
  color: grey;
} 

.answer-footer {
  color: grey;
} 

.answercount {
  max-width: 2em;
  display: inline-block;
  vertical-align: top;
  line-height: 1em;
  text-align: center;
  margin-right: 1em;

}


