/** --------------------------------------------------------------
 * Some color classes
 *
 */


.green {
  color: @green;
}

.greener {
  color: @greener;
}

.yellow-green {
  color: @yellowGreen;
}


.blue {
  color: @blue;
}

.yellow {
  color: @yellow;
}

.magenta {
  color: @magenta;
}

.dark-magenta {
  color: @darkMagenta;
}

.dark-blue {
  color: @darkBlue;
}

.red {
  color: @red;
}

.dark-red {
  color: @darkRed;
}

.grey {

  color: @grey;
}

.light-grey {

  color: @lightGrey;
}

.dark-grey {

  color: @darkGrey;
}