/**
 * Style for comments
 */
.comments {
  max-width: 100%;
  margin-left: 40px;
  margin-top: 15px;
  border-bottom: 1px dashed @grey;
  vertical-align: middle;
}
 
.comment {
  font-size: 0.8em;
  
} 

.comment p {
  margin-bottom: 2px;
}

.comment a {
  //font-weight: bold;
  text-decoration: none;
  //color: #5491D4;
}


.comment-id {
  display: inline-block;
  vertical-align: middle;
  float:left;
  width: 15%;
  height: 2em;
} 

.comment-id a {
  //vertical-align: top;

}

.comment-rank {
  display: inline-block;
  vertical-align: middle;
  float:left;
  width: 1.3em;
  line-height: 1em;
  color: @darkGrey;
  height: 2em;
  }

.comment-ranknum {
  display: inline-block;
  vertical-align: middle;
  float:left;
  width: 2em;
  line-height: 1em;
  color: @darkGrey;
  height: 2em;
  
  p {
  margin-top: 0.4em;
  vertical-align: middle;
  }
}

.comment-img {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 2em;
  
  img {
  vertical-align: middle;
  }
}


.comment-content {
  display: inline-block;
  float:right;
  width: 85%;
} 

.comment-divider {
    clear: both;
    height:10px;
} 
 
.comment-header {
  line-height: 1em;
  margin-top: 2px;
  padding-top: 0px;
  font-weight: bold;
  color: grey;
} 

.comment-footer {
  color: grey;
} 

.comment-form {
  color: grey;
  font-size: @fontSizeSmall;
  margin-left: 30px;
  margin-top: 15px;
} 

.commenting {
  color: black;
}

