/**
 * Style for forms
 */

fieldset {
  border: 0px;
  padding: 0px;
} 
 
fieldset > p {
  margin-bottom: 4px;

} 
 
label {
  font-size: 0.8em;
}

input[type=text],
input[type=password] {
  font-size: 1em;
  width: 300px;
}

input[type=submit],
input[type=reset] {
  font-size: 0.8em;
}

textarea {
  font-size: 1.1em;
  width: 500px;
  min-height: 70px;
}

p.buttons {
  padding-top: 10px;
  padding-bottom: 10px;
} 
